<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/907bc92a-9c67-43f4-acda-2c7b8daaa01d/resourceGroups/QuotesMicroserviceAPI-rg/providers/Microsoft.Web/sites/QuotesMicroservice20210806232803</ResourceId>
    <ResourceGroup>QuotesMicroserviceAPI-rg</ResourceGroup>
    <ApiResourceId>/subscriptions/907bc92a-9c67-43f4-acda-2c7b8daaa01d/resourceGroups/quotesmicroserviceapi-rg/providers/Microsoft.ApiManagement/service/QuotesMicroserviceapi/apis/QuotesMicroservice</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://quotesmicroservice20210806232803.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>38c7d32b-b2c3-4bc3-a5ad-91d7e561ed91</ProjectGuid>
    <MSDeployServiceURL>quotesmicroservice20210806232803.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>QuotesMicroservice20210806232803</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$QuotesMicroservice20210806232803</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>